# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Environment variables and secrets
*.env
.env.*

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs and databases
*.log
*.sqlite3

# Testing
.coverage
htmlcov/
.tox/
.nox/
pytest_cache/
.cache/

# MyPy & Pyright
.mypy_cache/
.pyre/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Others
*.bak
*.swp
*.tmp

# Database file for geolocation
geolocation_db/*
!geolocation_db/.keep

# Measurement results by virtual machines. Temporarily ignored until measurement process is complete.
vm_csv_folder/65_108_94_222/
vm_csv_folder/5_223_62_210/
vm_csv_folder/5_78_98_32/
